{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 position-relative">
            <h2>Post Show Page</h2>
            <!-- <p>Image at the top (card-img-top):</p> -->
            <div class="card" style="width:400px">
            <!-- <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body mb-3" >
                <h4 class="card-title">{{post.title}}</h4>
                
                <p class="card-text">{{post.description | safe}}</p>
                {% if post.author == request.user %}
                    <a href="{% url 'edit-post' post.id%}" class="btn btn-default">Edit</a>
                    <a href="{% url 'delete-post' post.id%}" class="btn btn-default">Delete</a>
                {% endif %}
            </div>
        </div>
        <form action="{% url 'like-post' post.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-default">Like: <span>{{post.likes.all.count}}</span></button>
        </form>

        <form action="{% url 'dislike-post' post.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-default">DisLike: <span>{{post.dislikes.all.count}}</span></button>
        </form>

        {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-dark mt-3 justify-content-center" type="submit">Add a Comment</button>
            </form>
        {% endif %}    
        {% for comment in comments %}
            <div class="row justify-content-center mt-3">
                <div class="col-md-5 col-sm-12 border-bottom position-relative">
                    <p><strong>{{comment.author}}</p></strong>
                    <p>{{comment.body}}</p>
                </div>
            </div>
        {% endfor %}

        <a href="{% url 'home' %}" class="btn btn-default mt-3">Go Back</a>
    </div>
</div>
{% endblock %}
