{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 position-relative">
            <h2>Post Show Page</h2>
            <!-- <p>Image at the top (card-img-top):</p> -->
            <div class="card" style="width:400px">
            <!-- <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%"> -->
            <div class="card-body">
                <h4 class="card-title">{{post.title}}</h4>
                
                <p class="card-text">{{post.description}}</p>
                {% if post.author == request.user %}
                    <a href="{% url 'edit-post' post.id%}" class="btn btn-default">Edit</a>
                    <a href="{% url 'delete-post' post.id%}" class="btn btn-default">Delete</a>
                {% endif %}
            </div>
        </div>
        <a href="{% url 'home' %}" class="btn btn-default mt-3">Go Back</a>
    </div>
</div>
{% endblock %}
